/* Black: 1B1A17 rgba(27, 26, 23, 1);
Yellow-bright: FFD95A
Yellow-dark: C07F00
Red: CD1818
White: F9F5F6 */

*, *::before, *::after{
    box-sizing: border-box;
    text-decoration: none;
}

body{
    color: #F9F5F6;
    font-family: Avenir Next, sans-serif;
    margin: 0;

}

p{
    margin: 0;
}

.navBar{
    transform: translateY(0);
    position: fixed;
    width: 100vw;
    height: 7vw;
    background: rgba(27, 26, 23, 0.5);
    transition: transform , 0.3s;
    z-index: 2;
}

.navbar.active{
    transform: translateY(-100px);
}

/* Buttons */
.navContent{
    margin: 4.5% 0 0 0;
    float: right;
}

.navBtn{
    margin-right: 50px;
    color: rgb(200, 200, 200);
    cursor: pointer;
    transform: translateY(-10);
}

.navBtn:hover{
    color: #F9F5F6;
    text-decoration: underline;
}

/* buttons */


/* Brand Logo */
.kNigiri{
    position: absolute;

    padding: 5px;
    width: 5vw;
}

.containerBrand{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 5vw;

}
/* Brand Lgoo */


/* MENU & INTRO */

#menu{
    width: 100vw;
}

.menu{
    background-image: url("images/Restaurant/People/theTeam.JPG");
    background-size: 100%;
    height: 110vh;
    background-repeat: no-repeat;
    border-bottom: solid #1B1A17 1rem;
}


.introContainer{
    position: absolute;
    background-color: rgba(27, 26, 23, 0.5);
    top: 10vw;
    left: 5vw;
    height: 37vw;
    width: 90vw;

    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.introContainer2{
    position: absolute;
    background-color: rgba(27, 26, 23, 1);
    top: 10vw;
    left: 3vw;
    height: 37vw;
    width: 23vw;

    padding: 0 2vw;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

h2.h2Intro{
    font-size: 2.5vw;
    margin: 2vw 0 0 0;

}

h3.h3Intro{
    margin: 1vw 0 0 6vw;
}

h1.h1Intro{
    font-size: 7vw;
    margin: 0 0 0 10vw;
    text-shadow: 6px 4px 0px rgba(27, 26, 23, 1);
}

.hours{
    margin-left: 2vw;
}

.openingHours{
    display: inline-block;
}


.menuContainer{
    position: absolute;
    top: 40vw;
    left: 7vw;
}

/* Wierd AAh Button https://codepen.io/christianjbolus/pen/yLzPvwO or this one https://medium.com/@christianjbolus/how-to-make-a-button-with-a-gradient-border-and-gradient-text-in-html-css-7d495656169 */
.menuBtn{
    background: linear-gradient(to right, #C07F00, #FFD95A);
    cursor: pointer;
    font-size: 1.5vw;
    font-family: Avenir Next, sans-serif;
    padding: 1vw 3vw;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    color: rgb(200, 200, 200);
    transition: color 200ms;

}

.menuBtn i{
    font-size: 2vw;
}

.menuIcon:hover{
    color: rgba(27, 26, 23, 1);
}

.menuBtn:hover{
    color: rgba(27, 26, 23, 1);

}

.menuBtn::before{
    content:"";
    background-color: rgba(27, 26, 23, 1);
    position: absolute;
    right: 1px;
    left: 1px;
    top: 1px;
    bottom:1px;

    border-radius: 5px;
    margin: 3px;
    transition: 200ms;

    z-index: -1;


}


.menuBtn:hover:before{
    right: 175px;
    left: 1px;
    top: 1px;
    bottom:1px;


}

/* CAROUSEL */
#carou{
    background-color: rgba(27, 26, 23, 1);
    width: 100vw;
    height: 13vw;
}

.slide{
    position: absolute;
    width: 18vw;
    transition: all 200ms;
    border: solid rgba(27, 26, 23, 1) 1rem;
}

.slideDiv{
    .outerRight{
        right: 1vw;
    }

    .innerRight{
        right: 21vw;

    }

    .outerLeft{
        left: 1vw;
    }

    .innerLeft{
        left: 21vw;

    }

    .center{
        left: 41vw;
        
    }

}


.slideDiv:hover{

    .outerRight{
        right: 4vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .innerRight{
        right: 18vw;
        width: 22vw;
        transform: translateY(-2vh);
        z-index: 1;
        /* z-index is necessary, the picters are stacked liked cards, outer right being the highest "card" */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .outerLeft{
        left: 4vw;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .innerLeft{
        left: 18vw;
        width: 22vw;
        transform: translateY(-2vh);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .center{
        left: 35vw;
        width: 30vw;
        transform: translateY(-6vh);
        z-index: 2;
        /* Same reason as for outerRight */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
    }

}

.carousel-button{

    position: absolute;
    z-index: 2;
    font-size: 4rem;
    margin-top: 6vh;
    color: rgba(27, 26, 23, 1);
    cursor: pointer;
    border: none;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(200, 200, 200, 1);
    font-size: 5vw;
    transition: font-size 200ms;
}



.carousel-button:hover{
    font-size: 6vw;

}


.carousel-button.prev{
    background: linear-gradient( to right, rgba(27, 26, 23, 0.5), rgba(200, 200, 200, 0.5));
    left: 1rem;
}

.carousel-button.next{
    background: linear-gradient( to left, rgba(27, 26, 23, 0.5), rgba(200, 200, 200, 0.5));
    right: 1rem;
}


/* CHEF INTRODUCTION CARDS */

#chefs{
    background-color: rgba(27, 26, 23, 1);
    width: 100vw;
    height: 160vh;
}

.chefRed{
    background: linear-gradient( to bottom right, rgba(27, 26, 23, 1) 70%, #cd1818);
    width: 100vw;
    height: 160vh;
    border-radius: 4rem;
    z-index: -1;

}


.chefCards{
    background-color: rgba(27, 26, 23, 1);
    width: 99vw;
    height: 157vh;
    border-radius: 4rem;

}


h1.chefTitle{
    font-size: 4vw;
    margin: 0 0 0 10vw;
}

.chef{
    width: 20vw;
    border-radius: 0 25%;
}

.cardContainer{
    display: inline-block;
    margin-right: 15vw;
    margin-left: 10vw;
    margin-top: 4vh;
}

.theCardCorner{
    position: absolute;
    display: inline-block;
    width: 25vw;
    height: 55vh;
    border-radius: 10% 25%;
    background: linear-gradient( to bottom right, rgba(27, 26, 23, 1) 70%, #cd1818);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* SPECIAL CODE: box-shadow from w3schools*/
    transition: height 200ms;

}

.cardText{
    color: #F9F5F6;
    width: 24vw;
    height: 53vh;
    padding: 1rem 0 0 1rem;
    border-radius: 10% 25%;
    background: rgba(27, 26, 23, 1);
    transition: transform 200ms;

}

.cardPos{
    transform: translateY(-30vh);
    margin-left: 10vw;
    transition: transform 200ms;
}

.cardPos:hover{
    transform: translateY(-35vh);
}

.foodoraWolt{
    margin: 40vh 0 0 33vw;
    font-size: 20;
}

.foodContainer{
    display: inline-block;
    margin: 0 0 0 25vw;

}


.food{
    width: 10vw;
    transition: all 200ms;
}

.food:hover{
    box-shadow: 0 4px 8px 0 rgba(205, 24, 24, 0.2), 0 6px 20px 0 rgba(205, 24, 24, 0.19);
    border-radius: 100%;
    transform: translateY(-5%);
    cursor: pointer;

}

.foodora{
    color: #e11367;

}

.wolt{
    color: #4db2e1;
}

#address{
    background-color: rgba(27, 26, 23, 1);
    width: 100vw;
    height: 95vh;
}

iframe{
    display: inline-block;
    margin: 20vh 0 0 10vw;
    width: 40vw;
    height: 60vh;
    box-shadow: 0 4px 2rem 0 rgba(205, 24, 24, 0.25), 0 6px 20px 0 rgba(205, 24, 24, 0.2);
    border-radius: 10%;
}

.redBlkCard_Map{
    transform: translateY(-55vh);
    margin-left: 60vw;
    transition: transform 200ms;
}

.redBlkCard_Map:hover{
    transform: translateY(-60vh);
    cursor: pointer;
}


#contact{
    background: rgba(27, 26, 23, 1);
    width: 100vw;
    height: 70vh;
}

.theCardCornerContact{
    display: inline-block;
    width: 41vw;
    height: 41vh;
    border-radius: 2rem;
    background: linear-gradient( to bottom right, rgba(27, 26, 23, 1) 70%, #cd1818);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* SPECIAL CODE: box-shadow from w3schools*/

}

.cardTextContact{
    padding: 1rem  0 0 2rem;
    width: 40vw;
    height: 39vh;
    border-radius: 2rem;
    color: #F9F5F6;
    background: rgba(27, 26, 23, 1);

}

.redBlkCard_Contact{
    display:inline-block;
    margin: 5vh 0 0 30vw;
    transition: all 200ms;
}

.redBlkCard_Contact:hover{
    transform: translateY(-3vh);
    cursor: pointer;
    box-shadow: 0 4px 2rem 0 rgba(205, 24, 24, 0.25), 0 6px 20px 0 rgba(205, 24, 24, 0.2);
    border-radius: 2rem;

}

.kingNigiri{
    margin: 0 0 -4vh 2vw;
    width: 7vw;
    display: inline-block;
}

.OnP{
    font-size: 2vw;
    display: inline-block;
    transition: font-size 200ms;
}


.bigBell{
    position: fixed;
    z-index: 2;
    width: 20vw;
}





/* FOOTER */

#footer{
    background: rgba(27, 26, 23, 1);
    width: 100vw;
    height: 15vh;
}

.footerGold{
    background:linear-gradient(to right, #C07F00, #FFD95A);
    width: 100vw;
    height: 1vh;

}

.credit{
    padding: 0 0 2vh 1vw;
    display: inline-block;
    margin: 4vh 0 0 44vw;
    color: #cd1818;
    transition: all 200ms;
}

.credit:hover{
    box-shadow: 0 4px 2rem 0 rgba(205, 24, 24, 0.25), 0 6px 20px 0 rgba(205, 24, 24, 0.2);
    border-radius: 15px;
    transform: translateY(-10%);
    cursor: pointer;
}

.wKong{
    width:4vw;
    margin: 0 0 -2.5vh -0.5vw;
}

.menuPopUp{
    font-size: 4.5vw;
    margin-top: 4%;
    margin-left: 13%;
}

.menuPopUpPos{
    width: 7vw;
    height: 7vw;
    background: linear-gradient(to right, #C07F00, #FFD95A);
    border-radius: 100%;
    padding: 7%;
    transition: transform 200ms;
}

.menuPopUpPosContainer{
    z-index: 3;
    position: fixed;
    right: 5vw;
    bottom: 5vh;
    transform: translateY(60vh);
    transition: transform 1s;
    
}

.popUpActive{
    transform: translateY(0);
}

.menuPopUpPos:hover{
    box-shadow: 0 4px 2rem 0 rgba(192, 127, 0, 0.5), 0 6px 20px 0 rgba(255, 217, 90, 0.5);
    transform: translateY(-10%);

}

.menuPopUpTxt{

    width: 6vw;
    height: 6vw;
    background: rgba(27, 26, 23, 1);
    border-radius: 100%;

}

.hitBot{
    transform: translateY(-15vh);

}
